<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Enterprise Jungle Test</strong>
      </a>
    </div>
  </div>
</header>

<main role="main">
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Participants</h2>
          <table class="table participant-table">
            <tr>
              <th>Name</th>
              <th>Played/Won</th>
              <th>&nbsp;</th>
            </tr>
            <tr [ngClass]="{highlighted: participant.id === (selectedParticipantId$ | async)}" *ngFor="let participant of participantList">
              <td>{{participant.name}}</td>
              <td>{{participant.played}}/{{participant.won}}</td>
              <td><button type="button" class="select-button btn btn-primary btn-sm" (click)="onClick_selectButton(participant.id)">Select</button></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <h2>Games</h2>
          <table class="table table-striped">
            <ng-container *ngFor="let score of currentScoreList$ | async">
              <tr>
                <th>aa</th>
                <th>bb</th>
              </tr>
              <tr>
                <td>{{score.participant1.value}}</td>
                <td>{{score.participant2.value}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>
